.container{
    border: 8px solid black;
}
.row{
    border: 5px solid red;
}
.col{
    border: 5px solid green;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}